body {
    width: 300px;
}

button {
    background-color:rgb(40, 40, 255);
    text-align: center;
    color: white;
    width: 100%;
    height: 30px;
    align-content: center;
}

button:hover {
    background-color: rgb(61, 97, 255);
    cursor: pointer;
}

button:active {
    background-color: white ;
    color: rgb(40, 40, 255);
}

h1, p {
    text-align: center;
    /* color: #ff4747; */
}

p {
    margin-top: 0;
    padding-top: 0;
}

h1 {
    margin-bottom: 0;
    padding-bottom: 0;
}

label, input {
    margin-bottom: 20px;
    align-content: center;
    color: blue;

}

.mydiv {
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    
}